.aboutme-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../images/marjanblan-_kUxT8WkoeY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  padding-top: 10vh;
}
.aboutme-main img {
  width: 40vh;
  padding-left: 5vw;
  display: flex;
  flex-wrap: wrap;
}
/* .aboutme-main p {
  width: 50vw;
  color: blue;
}
.aboutme-main h1 {
  color: blue;
} */
.aboutWords {
  width: 50vw;
  padding: 5vw;
  text-align: left;
  font-size: 150%;
}
